/* Define custom header element */
.custom-header {
   display: flex;
   align-items: center;
   justify-content: space-between; /* Add this line to space items out horizontally */
   background-color: gray;
   color: white;
   font-size: 24px;
   padding: 0 10px;
   border-bottom: 1px solid silver;
   user-select: none;
}
.header-title {
   padding: 0px 0px;
   margin: 0 0px;
   margin-left: auto; /* Add this line to align the text to the right */
}

/* Define custom dropdown */
custom-dropdown {
   position: relative;
   display: inline-block;
   background-color: gray;
   margin-right: 0px; /* Add this line to align the custom dropdown elements to the left */
}

/* Style the button in the custom dropdown */
custom-dropdown button {
   background-color: transparent;
   color: white;
   border: none;
   text-align: left; /* Add this line to left-align text within items */
   padding: 8px 15px;
   margin: 0 0px;
   cursor: pointer;
   transition: all 0.2s;
}

/* Style the custom dropdown on hover */
custom-dropdown:hover .dropdown-button {
   transition: all 0s;
   background-color: DimGray;
   color: white;
}

/* Define the content of the dropdown */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: DimGray;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   white-space: nowrap;
}

/* Show the dropdown content on hover */
custom-dropdown:hover .dropdown-content {
   display: block;
}

/* Style the buttons in the dropdown content */
.dropdown-content button {
   display: block; /* Add this line to set items to display as blocks */
   width: 100%; /* Add this line to set width to 100% */
   text-align: left; /* Add this line to left-align text within items */
   padding: 5px 50px 5px 10px;
}

/* Style the buttons in the dropdown content on hover */
.dropdown-content button:hover {
   background-color: CornflowerBlue;
   color: white;
}
.dropdown-content button:active {
   transition: all 0.2s;
   filter: brightness(90%);
}
