tab-container {
   width: 100%;
   height: 100%;
   display: inline-block;
   position: relative;
   overflow: hidden;
}

tab-container .btns {
   display: flex;
   justify-content: end;
   margin-right:17px;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 2;
   user-select: none;
}

tab-container .btn {
   padding: 10px 20px;
   border: 1px solid #ccc;
   background-color: #fff;
   cursor: pointer;
}

tab-container .btn:hover {
   background-color: #ddd;
}

tab-container .btn.active {
   background-color: #f1f1f1;
   border-bottom: 3px solid #e9e9e9;
}

tab-container .tabs {
   height: 100%;
   width: 100%;
   display: inline-block;
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
}

tab-container .tabs .tab {
   display: none;
   height: 100%;
   width: 100%;
   overflow-x:auto;
   overflow-y:scroll;
}

tab-container .tabs .tab.active {
   display: block;
}
