/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Tahoma, sans-serif;
    overflow: clip;
}

/* Define styles for header */
.custom-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to space items out horizontally */
    background-color: gray;
    color: white;
    padding: 0 10px;
    border-bottom: 1px solid silver;
    user-select: none;
    transform: scale(1);
    font-size: 13px;
    z-index: 5;
}

#titleInput{
    width:50%;
    margin-left: auto;
    margin-right: 1ch;
    padding: 0 1ch 0;
}

.custom-header > Button{
    margin-right: auto;
    background-color: inherit;
    color: inherit;
    border: none;
    text-align: left;
    padding: 1ch 1ch;
    transition: all 0.5s;
}
.custom-header > Button:hover {
  transition: all 0s;
  background-color: DimGray;
  color: white;
}


.header-title {
    color: inherit;
    font-family: "Times new roman";
    font-size: 24px;
    text-decoration: inherit;
    padding: 0px 5px;
    margin: 0 0px;
    margin-left: auto; /* Add this line to align the text to the right */
    white-space: nowrap;
}

.header-title:hover {
    transition: background-color 0.2s;
    background-color: cornflowerBlue;
    transition: transform 0.2s;
    transform: scale(0.99);
}



/* Define styles for code area */
#codeArea {
}

/* Define styles for trace area */
#traceArea {
    font-family: Times New Roman;
    background-color: Cornsilk;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    padding-left: 10px;
}


#Tree {
    background-color: MintCream;
}
#treeArea {
    padding: 100px;
    background-color: MintCream;
    min-width: 100%;
    min-height: 100%;
    width: fit-content;
    height: fit-content;
    overflow: visible !important;
}
#treeArea .tree-holder {
    position: relative;
}



/* Define styles for query area */
#queryArea {
    --side-text-value: "?-" counter(linenumbers);
    --side-text-color: black;
}

/* Define styles for console area */
#consoleArea {
    background: white;
}

.solutionTable {
    border: 1px solid black;
    overflow: auto;
}
.solutionTable thead tr {
    position: sticky;
    top: -10px;
    background-color: LemonChiffon;
}

.solutionTable tbody th,
.solutionTable td {
    border: 1px solid black;
    padding: 10px;
}

/* Define styles for footer areas */
#answer-request-area {
}

#answer-display-area {
  justify-content: flex-end;
}
#answer-display-area :first-child {
  margin-right: auto;
}

/* Define styles for answer request area */
.answer-controls {
    display: flex;
    align-items: center;
    background-color: Silver;
    font-size: 16px;
    padding: 3px;
}

/* Define styles for answer request button */
.answer-controls button {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    transition: box-shadow 0.4s ease-out;
}
.answer-controls button.pressed {
    transition: box-shadow 0s;
    /*filter: brightness(80%);*/
    box-shadow: 0 0 4px DodgerBlue, inset 0 0 4px DodgerBlue;
}



.answer-controls input[type=number] {
    display: inline-block;
    width: 8ch;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}


.answer-controls input[type=number]:valid {
   /* border: 2px solid black;*/
}
.answer-controls input[type=number]:invalid {
    transition: box-shadow 0.4s ease-out;
    box-shadow: 0 0 10px red;
}
.answer-controls input[type=number]:invalid:focus-visible {
    outline: 1px solid dodgerblue;
}


#query-status-label {
    user-select: none;
}

.zoom-btn {
    width: 3ch;
    height: 3ch;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.zoom-btn-container {
    list-style: none;
    position: absolute;
    z-index: 3;
    right: 0.5em;
    bottom: 0.5em;
}

.tree-holder {
    min-width: 1000px;
    overflow-x: auto;
    position: absolute;
    z-index: -13;
    /*right: 100%;*/
}
