/* optional Container STYLES */
.chart {
    min-height: 100%;
    width: 100%;
    margin: 5px;
    margin: 5px auto;
    border: 3px solid #ddd;
    border-radius: 3px;
}

.node {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none !important;
    display: flex !important;
    align-items: stretch;
    background: WhiteSmoke;
    box-shadow: 0 0 10px black;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
}
.node.Root .instruction {
    background: LightSkyBlue;
}
.node.Call .instruction {
    background: Gray;
}
.node.Exit .instruction {
    background: Green;
}
.node.Fail .instruction {
    background: orangered;
}
.node.Redo .instruction {
    background: orange;
}

.instruction p {
    text-transform: Uppercase;
    color: white;
    font-weight: bold;
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1ch;
    align-items: flex-start;
}
