

.rectangle {
border: 2px solid #C8C8C8;
border-radius: 5px;
  display: flex;
  align-items: stretch;
height: fit-content;
width: fit-content;
}

.fail {
background-color: red;
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
padding: 0 1ch;
}

.fail p {
  text-transform: Uppercase;
  color: white;
font-weight: bold;
margin: 0;
writing-mode: vertical-rl;
text-orientation: upright;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.text p {
  margin: 1ch;
  padding: 0;
}
