/* Define styles for answer request area */
        .answer-controls {
            background-color: Silver;
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 3px;
        }

        /* Define styles for answer number input */
        .answer-controls textarea {
            display: inline-block;
            width: 6ch;
            height: 30px;
            font-size: 16px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: middle;
              resize: none;
        }

        /* Define styles for answer request button */
        .answer-controls button {
            display: inline-block;
            font-size: 16px;
            padding: 5px;
            border: none;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
        }

