/* Define variables for code and side background/text colors */
code-area {
   --code-background-color: white;
   --code-text-color: black;
   --side-background-color: silver;
   --side-text-color: black;
   font-family: monospace;
   font-size: 16px;
   padding: 0px;
}

/* Define styles for the container element */
code-area .container {
   background-color: var(--side-background-color);
   color: var(--side-text-color);
   display: flex;
   height: 100%;
   min-height: 100%;
   overflow: auto;
}

/* Define styles for the line number list */
code-area ol {
   counter-reset: linenumbers;
   flex: 1;
   font-family: monospace;
   height: 100%;
   margin-left: 5px;
   margin-right: 5px;
   max-width: 5ch;
   white-space: pre;
}

/* Define styles for the line number list items */
code-area li:before {
   content: counter(linenumbers) ".";
   counter-increment: linenumbers;
   display: inline-block;
   text-align: right;
   width: 2.5em;
}

/* Define styles for the code textarea */
code-area textarea {
   background-color: var(--code-background-color);
   color: var(--code-text-color);
   border: none;
   flex: 1;
   font-family: inherit;
   font-size: inherit;
   min-height: 100%;
   overflow: hidden;
   padding-left: 5px;
   resize: none;
}

/* Define styles for the focused code textarea */
code-area textarea:focus {
   box-shadow: 0 0 10px DodgerBlue;
   clip-path: inset(0px -15px 0px -15px);
   outline: none !important;
}
