/* Define custom header element */
.custom-header {
  display: flex;
  align-items: center;
  background-color: gray;
  color: white;
  font-size: 24px;
  padding: 0 10px;
    border-bottom: 1px solid silver;
}


custom-dropdown {
  position: relative;
  display: inline-block;
    background-color: gray;
}

custom-dropdown button {
  background-color: transparent;
  color: white;
  border: none;
  text-align: left; /* Add this line to left-align text within items */
  padding: 8px 15px;
  margin: 0 0px;
  cursor: pointer;
  transition: all 0.2s;
}
custom-dropdown:hover .dropdown-button {
  transition: all 0.0s;
  background-color: DimGray  ;
  color: white;
 }


.dropdown-content {
  display: none;
  position: absolute;
  background-color: DimGray ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
custom-dropdown:hover .dropdown-content {display: block;}


.dropdown-content button {
  display: block; /* Add this line to set items to display as blocks */
  width: 100%; /* Add this line to set width to 100% */
  text-align: left; /* Add this line to left-align text within items */
  padding: 5px 50px 5px 10px;
  }

.dropdown-content button:hover {
  background-color: CornflowerBlue ;
  color: white;
  }