/* Reset default margin and padding */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* Define grid layout */
      .grid-container {
        display: grid;
        grid-template:
          "header   header" min-content
          "code     trace"  60%
          "query    consl"  minmax(0%, 1fr)
          "footer1  footer2"min-content
           / 1fr    2fr;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
        border: 0px;
      }

      /* Define styles for header */
      header {
        grid-area: header;
      }

      #codeArea {
       grid-area: code;
        border: 1px solid gray;
      }

      #queryArea {
        grid-area: query;
        border: 1px solid gray;
                max-height: 200px;
      }


      console-area {
        grid-area: consl;
        border: 1px solid gray;
      }





      #answer-request-area {
          grid-area: footer1;
      }
      #answer-display-area {
          grid-area: footer2;
      }