/* Reset default margin and padding for all elements */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Define styles for header */
header {
}

/* Define styles for code area */
.codeArea {
}

/* Define styles for trace area */
.traceArea {
}

/* Define styles for query area */
.queryArea {
   --side-text-value: "?-" counter(linenumbers);
   --side-text-color: black;
}

/* Define styles for console area */
.consoleArea {
}
/* Define styles for footer areas */
#answer-request-area {
}

#answer-display-area {
}

/* Define styles for answer request area */
.answer-controls {
   display: flex;
   align-items: center;
   background-color: Silver;
   font-size: 16px;
   padding: 3px;
}

/* Define styles for answer number input */
.answer-controls textarea {
   display: inline-block;
   width: 6ch;
   height: 30px;
   padding: 5px;
   font-size: 16px;
   margin-left: 10px;
   margin-right: 10px;
   vertical-align: middle;
   border: 1px solid #ccc;
   border-radius: 5px;
   resize: none;
}

/* Define styles for answer request button */
.answer-controls button {
   display: inline-block;
   font-size: 16px;
   padding: 5px;
   border: none;
   border-radius: 5px;
   margin-left: 10px;
   vertical-align: middle;
   cursor: pointer;
}
