tab-container{
}

tab-container .btns {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
}

tab-container .btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
}

tab-container .btn:hover {
  background-color: #ddd;
}

tab-container .btn.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

tab-container .tabs .tab {
  display: none;
}

tab-container .tabs .tab.active {
  display: block;
}
