code-area .container {
  display: flex;
  height: 50vh;
  background: silver;
  overflow: auto;
}

code-area ol {
  font-family: monospace;
  white-space: pre;
  height: 100%;
  max-width: 4ch;
  flex: 1;
  margin: 0px;
}

code-area li::marker {
  font-size: 10px;
  color: grey;
}

code-area textarea {
  flex: 1;
  border: none;
  overflow: hidden;
  resize: none;
  height: 100%;
}
